name: Test Docs Build

on:
  workflow_call:
  workflow_dispatch:
    inputs:
      branch:
        description: "(Optional) Branch to checkout"
        required: false
        type: string

env:
  NODE_VERSION: "22"

jobs:
  test-docs-build:
    name: Test Docs Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ inputs.branch || github.ref }}

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8.6.3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        id: setup-node
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm
          cache-dependency-path: ./docs/pnpm-lock.yaml

      - name: Install dependencies
        run: cd docs && pnpm install --frozen-lockfile

      - name: Build docs
        run: cd docs && pnpm build
