name: autofix.ci

on:
  pull_request:
    paths:
      - "src/frontend/**"

permissions:
  contents: read

env:
  NODE_VERSION: "22"
jobs:
  autofix:
    if: ${{ github.actor != 'github-actions[bot]' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node.js
        uses: actions/setup-node@v4
        id: setup-node
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"
          cache-dependency-path: src/frontend/pnpm-lock.yaml

      - name: Install Node.js dependencies
        run: |
          cd src/frontend
          pnpm install --frozen-lockfile
      - name: Run Biome
        run: |
          cd src/frontend
          pnpm run format

      - uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
